@{
    ViewBag.Title = "Teste técnico - Cadastro de Documentos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    “Eu como coordenador de projetos, preciso que minha equipe tenha acesso aos
    documentos de procedimentos operacionais da empresa.”
</p>

<br />

<p><b>Tecnologias utilizadas:</b></p>

<a href="https://dotnet.microsoft.com/apps/aspnet">ASP.NET</a>
<br />
<a href="https://docs.microsoft.com/pt-br/ef/">Entity Framework</a>
<br />
<a href="https://www.mysql.com/">MySql</a>
<br />
<a href="https://sweetalert2.github.io/">Sweet Alert 2</a>
<br />
<a href="https://bootswatch.com/3/">Bootswatch</a>
<br /> <br />

<p><b>Repositório do projeto no GitHub:</b> <a href="https://github.com/Hilha/DocumentRegistration">Document Registration</a></p> 
