@{
    ViewBag.Title = "Informações para Contato";
}
<h3>@ViewBag.Title:</h3>

<address>
    Matheus Camargo Hilha<br />
    Balneário Camboriú, SC<br />
    Telefone: (47)99662-5785
</address>

<address>
    <strong>Email: </strong> <a href="mailto:matheushilha@gmail.com"> matheushilha@gmail.com</a><br />
    <strong>Linkedin: </strong> <a href="https://www.linkedin.com/in/matheus-hilha-394465132/"> Matheus Hilha</a>
</address>